# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
local_build/
*.spec

# Virtual Environments
venv/
ENV/
env/

# Databases, Backups and Local Configurations
*.db
*.sqlite*
*.log
*.zip
*.env
*.env.*
backups/
reports/
license.json
settings.json
.academyos/
src/utils/salt.py
stress_temp/

# PyCharm / VS Code settings
.idea/
.vscode/
